@import '../../assets/colors';

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edededbf;
    height: calc(100vh - 183px);
    text-align: center;
    .signup-container-inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h3 {
            font-size: 3.5rem;
            font-weight: 500;
        }
        .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.1rem;
            .form-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    font-size: 1.2rem;
                    padding: .5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    outline: none;
                }
            }
            button {
                display: flex;
                justify-content: center;
                gap: 10px;
                padding: 14px 48px;
                font-size: 1rem;
                background-color: $yellow;
                border: none;
                border-radius: 8px;
                transition: all 0.2s;
            &:hover {
                background-color: $yellowHover;
                cursor: pointer;
            }
            }
        }
    }
}