@import './assets/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}

body{
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.container {
    min-height: calc(100vh - 172.8px);
    padding: 2rem 5%;
    border-top: 2px solid $yellow;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.error {
    color: red;
}

.logout-button {
    background-color: $yellow;
    padding: 3px;
    border-radius: 6px;
    color: $black;
    margin: 5px 8px;
    border: none;
    padding: 7px;
    font-size: 15px;
    &:hover {
        background-color: $yellowHover;
    }
    &:active {
        background-color: $black;
        color: white;
    }
}