@import './assets/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.container {
    min-height: calc(100vh - 172.8px);
    padding: 2rem 5%;
    border-top: 2px solid $yellow;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}